*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.kotlin/
/captures
.externalNativeBuild
.cxx
local.properties
build/generated
build/intermediates
build/kotlin
build/kspCaches
build/tmp
build/outputs/logs
